*{
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    display: block;
}

.craving_title{
    font-size: 96px;
    background-color: tan;
    color: ivory;
    padding: 64px;
    border-radius: 50%;
}

.all_criteria{
    display: flexc;
    align-items: center;
}


.craving_criteria_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;;
}

.craving_criteria_label{
    font-size: 40px;
}

.craving_criteria{
    border-radius: 48px;
    height: 96px;
    width: 512px;
    font-size: 32px;
    text-align: center;
}

.button_wrapper{
    display: flex;
    align-items: center;
}

#eat_button{
    height: 64px;
    width: 128px;
    border-radius: 32px;
    margin: 10px auto;
    background-color: white;
}

.matching_zone{
    display: none;
    justify-content: center;
    background-color: tan;
    width: 100vw;
}

.business_profile_container{
    padding: 32px;
    border-radius: 16px;
    border: 8px solid white;
    background-color: rgb(244, 244, 244);
    width: 650px;
}

.business_name{
    text-align: center;
}

.business_profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.business_pictures{
    width:50%;
    border-radius: 16px;
    margin: 16px;
}

.business_criteria{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.profile_field{
    padding: 10px;
    border-radius: 8px;
    background:white;
    flex: 1;
}

.match_inputs_container{
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.accept, .reject{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: white;
}